/* dashboard.css */
.dashboard {
    display: flex;
}

.dashboard-balance,
.dashboard-order {
    flex: 1; /* 让两个部分在容器中平均分配空间 */
    padding: 10px; /* 为了视觉上的间隙 */
}

/* 如果需要，你可以添加媒体查询来改进响应式布局 */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }
}